<<<<<<< HEAD
.imgMone{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin:  30px 45px;
}

.textoMone{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin-left: 45px;
    color: #626262;
=======
#mone{
    
>>>>>>> 41841e2b03d4257387da03f40e69db16219058a6
}