.imgMone{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin:  30px 45px;
}

.textoMone{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin-left: 45px;
    color: #626262;
}