/*
.cajaBlanca{
    background-color: bisque;
}
*/

.vale{
    display: block;
}
.imagenVal{
    padding-left: 50px;
    padding-top: 25px;
}

.tituloVal{
    background-color: #393939;
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: #ffffff;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.textoVal{
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    width: 360px;
    margin-top: -9px;
}

.botonVal{
    background-color: #393939;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 13px;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    border: none;
    margin-top: -5px;
    margin-left: 150px;
}
.botonVal:hover{
    background-color: #ed5a8d;
}