#cajaBlanca1{
  position:absolute;
  border: solid #A6BEAB;
  width: 400px;
  height: 500px;
  display: inline-block;
  margin: 15px;
}

#cajaBlanca2{
  position:absolute;
  background: #FFF;
  border: solid #A6BEAB;
  width: 400px;
  height: 500px;
  display: inline-block;
  margin: 15px;
  left: 450px;
}

 #cajaGris1{
   position:relative;
   background: #CCC;
   width: 200px;
   height: 100px;
   display: inline-block;
   margin: 15px;
   left: 80px;
 }

 #cajaGris2{
   position:relative;
   background: #FFF;
   width: 200px;
   height: 200px;
   display: inline-block;
   margin: 15px;
   left: 95px;
 }

.botonYu{
	border-radius:28px;
	border:1px solid #000;
	display:inline-block;
	color:#000;

}
